<ul class="list-unstyled">
	@foreach (var product in Products)
	{
		<li class="media my-3">
			<div class="media-img-wrapper mr-2">
				<a href="#">
					<img class="media-img" src="@product.ImageUrl" alt="@product.Title" />
				</a>
			</div>
			<div class="media-body">
				<a href="#">
					<h4 class="mb-0">@product.Title</h4>
				</a><p>@product.Description</p>
				<h5 class="price">@product.Price₽</h5>
			</div>
		</li>
	}
</ul>

@code {
	private static List<Product> Products = new()
	{
		new Product
		{
		Id = 1,
		Title = "Код. Тайный язык информатики",
		Description = "Научно-популярная книга американского программиста Чарльза Петцольда, в которой рассказывается, как персональные компьютеры работают на аппаратном и программном уровне.",
		ImageUrl = "https://libroroom.ru/upload/iblock/833/18804.png",
		Price = 1630m
		},

		new Product
		{
		Id = 2,
		Title = "Чистый код. Создание, анализ и рефакторинг",
		Description = "Эта книга посвящена хорошему программированию. Она полна реальных примеров кода. Мы будем рассматривать код с различных направлений: сверху вниз, снизу вверх и даже изнутри. Прочитав книгу, вы узнаете много нового о коде. Более того, вы научитесь отличать хороший код от плохого. Вы узнаете, как писать хороший код и как преобразовать плохой код в хороший.",
		ImageUrl = "https://cdn1.ozone.ru/multimedia/wc1000/1023228489.jpg",
		Price = 780m
		},

		new Product
		{
		Id = 3,
		Title = "Паттерны проектирования на платформе .NET",
		Description = "Паттерны проектирования остаются важным инструментом в арсенале разработчика, поскольку они опираются на фундаментальные принципы проектирования. Тем не менее, появление новых конструкций в современных языках программирования делает одни паттерны более важными, а значимость других сводит к минимуму.",
		ImageUrl = "https://cdn1.ozone.ru/multimedia/wc1000/1012077651.jpg",
		Price = 630m
		},
	};
}
